.app-wrapper {
  /*   min-height: 10vh; */
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 5rem auto;
  background-color: lightskyblue;
  grid-template-areas:
    'header-section header-section'
    'nav-section content-section';
  margin: 0 auto;
}

.content-wrapper {
  .content {
    grid-area: content-section;
    background-color: green;
  }
}
